# Ignore everything by default
*

# But DO NOT ignore the following files and directories
!/.gitignore
!/init.lua
!/lua/
/lua/*
!/lua/plugins/
/lua/plugins/*
!/lua/plugins/astrocore.lua
!/lua/plugins/astrolsp.lua
!/lua/plugins/astroui.lua
!/lua/plugins/cmp.lua
!/lua/plugins/gruvbox.lua
!/lua/plugins/mason.lua
!/lua/plugins/neorg.lua
!/lua/plugins/none-ls.lua
!/lua/plugins/treesitter.lua
!/lua/plugins/user.lua
!/lua/user/
/lua/user/*
!/lua/user/autocmds.lua
!/lua/user/init.lua
!/lua/user/keymaps.lua
!/lua/user/options.lua
!/README.md
